<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>first micro</title>
</head>

<body>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-250346713-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-250346713-1');

    
    </script>
    
    <a style="color:red;" href="/logger/">See logs here</a>
    <!-- <a style="color:red;" href="/text/"> See a message here</a> -->
    <!--<a style="color:red;" href="/cookies/"> See google analytics here</a> -->

</body>

</html>